<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	
	<bean name="res"
		class="com.afaria.spring.SpringADV.autowiring.assign.Reservation" p:id="14"
		p:day="monday" />

	<bean name="mainBean"
		class="com.afaria.spring.SpringADV.autowiring.assign.Customer" p:name="Avind"/>

</beans>